<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/node-js.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Login com NodeJs</title>
</head>

<body>
    <div id="corpo-formu">
        <form method="post" action="/salvarcadstro"></form>
        <h1><i class="fab fa-php"></i></h1><br>
        <input type="text" name="nome" placeholder="Nome" autocomplete="off" id=""><br><br>
        <input type="email" name="email" placeholder="Email" autocomplete="off" id="email" onclick="erro()"><br><br>
        <input type="password" name="senha" placeholder="Senha" id="senha"><br><br>
        <input type="password" name="confisenha" placeholder="Confirmar Senha" id="confisenha"><br><br>
        <button class="btn">Cadastrar</button><br>
        <a href="/">voltar</a><br>
  
    </div>

</body>

</html> 